<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3> Orders</h3>

 <!-- Top row with form-->
 <div class="row">
	 <div class="col-12">
			<form class="form-inline" id="order-form">

			  <button type="button" class="btn btn-dark" id="create-order-item">Create Order</button>
				&nbsp;
			  <button type="button" class="btn btn-dark" id="refresh-data">Refresh</button>
			</form>
	 </div>	
</div> 


<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-striped" id="order-table">
	  <thead>
	    <tr>
	      <th scope="col">OrderId</th>
	      <th scope="col">Created At</th>
		  <th scope="col">Action</th>
	    </tr>
	  </thead>
	  <tbody>

	  </tbody>
	</table>

</div>
</div>

	<!-- Order Add Modal -->
	<div class="modal" tabindex="-1" role="dialog" id="order-cart-modal">
		<div class="modal-dialog  modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Create Order</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-inline" id="order-cart-form">
						<div class="form-group">
							<label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Barcode">
							</div>
						</div>
						<div class="form-group">
							<label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" name="quantity" id="inputQuantity" placeholder="Enter Quantity">
							</div>
						</div>
						<div class="form-group">
							<label for="inputSellingPrice" class="col-sm-2 col-form-label">Selling Price</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" name="sellingPrice" id="inputSellingPrice" placeholder="Enter Price">
							</div>
						</div>
						<button type="button" class="btn btn-primary" id="add-order">Add Item</button>
					</form>

				</div>
				<div class="row">
					&nbsp;
				</div>
				<div class="row">

					<!-- Table -->
					<div class="col-12">
						<table class="table table-striped" id="order-item-table">
							<thead>
							<tr>
								<th scope="col">Barcode</th>
								<th scope="col">Quantity</th>
								<th scope="col">Selling Price</th>
								<th scope="col">Actions</th>
							</tr>
							</thead>
							<tbody>

							</tbody>
						</table>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="place-order">Place Order</button>
				</div>

			</div>
		</div>
	</div>

	<!--  ORDER VIEW FORM -->

	<div class="modal" tabindex="-1" role="dialog" id="order-view-modal">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Order</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="order-id">
					<div class="row pl-2" >
					</div>
				</div>

				<div class="row">
					<!-- Table -->
					<div class="col-12">
						<table class="table table-striped" id="order-view-item-table">
							<thead>
							<tr>
								<th scope="col">Barcode</th>
								<th scope="col">Quantity</th>
								<th scope="col">Selling Price</th>
							</tr>
							</thead>
							<tbody>

							</tbody>
						</table>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				</div>

			</div>
		</div>
	</div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/order.js}"/></script>

</body>	

</html>